body {
  margin: 0;
}

body .read_more {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #333333;
  text-decoration: underline;
  font-size: 14px;
}

body .read_more:hover {
  text-decoration: none;
}

body p, body h1, body h2 {
  line-height: normal;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

header #header_section {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

header #header_section #header_img {
  max-width: 1170px;
  margin:0 auto;
}

header #header_section #header_img img {
  font-size: 32px;
  padding: 20px 16px;
}

header nav {
  background-color: #333333;
  margin: 0;
  width: 100%;
}

header #ul_nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header #ul_nav li {
  list-style-type: none;
  font-size: 14px;
  padding-right: 60px;
}

header #ul_nav li a {
  color: white;
  text-decoration: none;
}

#pickup_wrapper {
  max-width: 1170px;
  padding: 100px 16px 20px;
}

#pickup_wrapper #li_pickup_wrapper {
  padding-top: 40px;
}

#pickup_wrapper #li_pickup_wrapper h2 {
  margin: 20px 0 15px;
  font-size: 16px;
  font-weight: bold;
}

.main {
  max-width: 1170px;
  padding: 0 16px;
  margin: 60px auto;
}

.main_section_article {
  margin-bottom: 60px;
}

.main_section_article h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.main_section_article .article_secondary_headering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.main_section_article .article_secondary_headering p {
  margin-right: 20px;
  font-size: 14px;
}

.main_section_article .article_text {
  font-size: 16px;
  padding: 10px 20px 30px;
}

#myintro {
  margin-bottom: 60px;
}

#myintro #my_img {
  width: 100%;
  text-align: center;
}

#myintro #my_img img {
  width: 130px;
  border-radius: 50%;
}

#myintro h1 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}

#myintro p {
  width: 100%;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 30px;
}

#ranking h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

#ranking .ranking_content p {
  width: 100%;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 1rem;
}

#archive h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#archive p {
  font-size: 14px;
  padding: 20px;
}

#footer {
  width: 100%;
  background-color: #f7f7f7;
}

#footer #footer_section {
  max-width: 1170px;
  padding: 50px 16px;
  margin: 0px auto;
}

#footer #footer_section p {
  font-size: 14px;
}

#footer #footer_section #about h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#footer #footer_section #about #about_text {
  margin-bottom: 30px;
}

#footer #footer_section #about ul li {
  padding-left: 1rem;
  position: relative;
  margin-bottom: 5px;
}

#footer #footer_section #about ul li::before {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid black;
  content: "";
}

#footer #footer_section #menu h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#footer #footer_section #menu p {
  padding: 15px;
}

#footer #footer_section #twitter h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#footer #last_wrapper {
  padding: 10px 0;
}

#footer #last_wrapper p {
  font-size: 12px;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */
